
html{scroll-behavior: smooth;}
.wrap {background-color: #f5f5f4;  margin: 0 auto; max-width: 1920px;}
.inner {max-width: 1200px; margin: 0 auto; padding: 0 20px;}


.hd {position: absolute; z-index: 999; margin: 0 auto; left: 0; right: 0;}
.hd .inner {max-width: 1400px; line-height: 70px; position: relative;}
.hd .logo img {width: 120px; height: 100%; transition: all 0.3s ease;}
.hd .pc-gnb {opacity: 1;visibility: visible;}
.hd .mob-gnb {opacity: 0; visibility: hidden;}
.hd .toggle-btn {opacity: 0; visibility: hidden;}
.hd .pc-menu .gnb {display: flex; position: absolute; right: 0; top: 0;}
.hd .pc-menu .gnb li > a{display: block; font-size: 19px; ; padding: 0 15px; transition: all 0.3s ease;}

.hd .mob-gnb{
  position: fixed;
  height: 100%; 
  right: 0;
  top: 0;
  transition: all 0.3s ease;
}
.hd .mob-gnb .dep {
  display: block;
  color: #000;
  padding: 0 20px;
  line-height: 70px;
  font-size: 17px;
  position: relative;
  text-align: right;
  transition: all 0.3s ease;
}
.hd .mob-gnb .dep::before{
  content: "";
  position: absolute;
  bottom: 17px; right: 0;
  height: 2px; width: 0px;
  background-color: #fff;
  transition: all 0.7s cubic-bezier(.9, 0, .33, 1);
}
.hd .mob-gnb .dep:nth-child(1):hover:before{width: 75%;}
.hd .mob-gnb .dep:nth-child(2):hover:before{width: 70%;}
.hd .mob-gnb .dep:nth-child(3):hover:before{width: 72%;}
.hd .mob-gnb .dep:nth-child(4):hover:before{width: 52%;}
.hd .mob-gnb .dep:nth-child(5):hover:before{width: 60%;}
.hd .mob-gnb .gnb-box{
  height: 100%;
  width: 250px;
  padding-top: 60px;
  background-color: #f5deb3;
  opacity: 0;
  transform: translateX(100%);
  border-radius: 0% 0% 0% 50%;
  transition: all 0.8s cubic-bezier(.9, 0, .33, 1);
}
.hd .mob-gnb::before {
  content: "";
  position: fixed;
  top: 0; left: 0; bottom: 0; right: 0;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  background-color:rgba(0,0,0,0.4);
  transition: opacity 0.4s ease;
  z-index: -1;
}

.hd .toggle-btn {
  display: flex;
  width: 60px;
  height: 60px;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 5px; top: 0; 
  z-index: 150;
  opacity: 0;
  visibility: hidden;
}
.hd .toggle-btn button{
  display: flex;
  flex-direction: column;
  width: 20px;
  padding: 0;
}
.hd .toggle-btn .bar{
  height: 2px; margin: 2px 0; 
  background-color: #333;
  width: 30px;
  border: transparent;
  transition: all 0.8s cubic-bezier(.9, 0, .33, 1);
}
.hd .toggle-btn .bar1{transform: rotate(0) translateY(0);}
.hd .toggle-btn .bar2{transform: translateX(0);}
.hd .toggle-btn .bar3{transform: rotate(0) translateY(0);}

.mob-menu .sns-box{margin-right: 20px; text-align: right; position: relative; cursor: pointer;}
.mob-menu .sns-box h2{font-size: 17px; color: #fff;}

.mob-menu .sns-box ul{display: flex; justify-content: right;}
.mob-menu .sns-box li {width: 40px; height: 40px; margin-left: 10px;}
.mob-menu .sns-box li i{
  text-align: center;
  font-size: 19px; 
  display: block;
  line-height: 40px;
  color: #fff;
  border-radius: 50px;
}
.mob-menu .sns-box .fa-youtube{background-color: red;}
.mob-menu .sns-box .fa-facebook-f{background-color: #0054a6;}
.mob-menu .sns-box .fa-instagram{background-image: url(../img/icon/ico_instagram_back.png); background-repeat: no-repeat; background-size: cover;}


.banner {
  background-image: url('../img/main_kv.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 950px;
  transition: all 0.3s ease;
}

.main {margin-top: 130px;}
.main .inner {margin-bottom: 14em;}
.main .main-item {display: flex; justify-content: space-between; align-items: center; flex-wrap: wrap; }
.main .main-item .txt-area {margin:15px 0 0 110px;}
.main .main-item .txt-area .txt-tit {margin-bottom: 50px; font-weight: 700; font-size: 30px;}
.main .main-item .txt-area .emp{z-index: 1; position: relative;}
.main .main-item .txt-area .emp::after{
  content: "";
  position: absolute;
  z-index: -1;
  left: -5px;
  bottom: 0;
  width: 104%;
  height: 60%;
  opacity: 0.5;
  background-color: #d5e7d0;
}
.main .main-item .txt-area .txt-desc {
  font-size: 24px;
  font-family: 'Pretendard Variable Light'; 
  margin-bottom: 23px;
}
.main .main-item .img-area {position: relative;}
.main .main-item .img-area .img1 > img {width: 480px; height: 550px;}
.main .main-item .img-area .img2 {
  position: absolute;
  top: 50%; left: -70px;
  transform: translate(0,-50%)
}


.event1 .inner {margin-bottom: 14em;}
.event1 .img-item .evt-header {
  position:absolute;
  top: -60px; left: 0;
  color: #b5ada3; font-size: 20px; font-weight: 700;
}
.event1 .evt-list {display: flex; padding-top: 20px;}
.event1 .img-item {position: relative; }
.event1 .img-item .img-area {padding-right: 4em;}
.event1 .img-item .img-area > img {width: 600px; }
.event1 .img-item .img-area p {padding: 10px 0; color: #888; font-size: 15px;}
.event1 .img-item .img-area p > img {padding: 0 3px;}
.event1 .txt-item .txt-area .txt-label {
  font-size: 25px; 
  font-weight: 500; 
  color: #d8ae79;
  position:relative;
  z-index: 1;
}
.event1 .txt-item .txt-area .emp { font-weight: 700;  z-index: 1; position: relative;}
.event1 .txt-item .txt-area .emp::after{
  content: "";
  position: absolute;
  z-index: -1;
  left: -5px; bottom: 0;
  width: 104%; height: 60%;
  opacity: 0.5;
  background-color: #fbe1c0;
}

.event1 .txt-item .txt-area .txt-tit {font-size: 28px; font-weight: 500; padding: 10px 0 60px 0;}
.event1 .txt-item .txt-area .txt-desc {
  padding-bottom: 30px;
  font-size: 24px; 
  font-family: 'Pretendard Variable Light';
  word-break: keep-all;
  width: 400px;
}

.event1 .txt-item {position: relative; height: 607px;}
.event1 .txt-item .evt-btn { position: absolute; bottom: 10px; font-size: 24px; font-weight: 500;}
.event1 .txt-item .evt-btn a::before {
  content: ""; 
  position: absolute;
  top: 50%; right: -67px;
  transform: translateY(-50%);
  border-radius: 50px;
  width: 40px; height: 40px; 
  background-color: #eab874;
  opacity: 0.5;
  transition: opacity 0.3s ease;
}
.event1 .txt-item .evt-btn:hover a::before {
  background-color: #eab874; opacity: 1;
  animation: evt1_arrow 0.6s linear 0s infinite alternate;
  transform-origin:center;
  }
@keyframes evt1_arrow{
  from {}
  to {transform: translate(8px, -50%);}
}
.event1 .txt-item .evt-btn a::after {
  content: ""; 
  position: absolute;
  top: 50%; 
  right: -53px;
  transform: translateY(-50%);
  width: 43px; height: 24px;
  background-image: url('../img/evt1-icon-arrow.png');
  background-repeat: no-repeat;
}


/* event 2*/
.event2 .mob .img-area  {display: none;}
.event2 .inner {margin-bottom: 20em; position: relative; }
.event2 .evt-header { color: #b5ada3; font-size: 20px; font-weight: 700; margin-bottom: 30px;}
.event2 .txt-item .txt-area .txt-tit {font-size: 28px; font-weight: 500; padding-bottom: 60px;}
.event2 .txt-item .txt-area .txt-desc{font-size: 24px;  font-family: 'Pretendard Variable Light';}
.event2 .txt-item .txt-area .txt-desc:nth-child(4) {margin: 10px 0 80px 0; }
.event2 .txt-item .txt-area .txt-tit .emp { font-weight: 700; position: relative; z-index: 1;}
.event2 .txt-item .txt-area .txt-tit .emp::after{
  content: "";
  position: absolute;
  z-index: -1;
  left: -3px; bottom: 0;
  width: 103%; height: 50%;
  opacity: 0.5;
  background-color: #b5d3ea;
}

.event2 .pc .img-area {padding-bottom: 20em; position: relative;}
.event2 .pc .img-area .img {position:absolute;}
.event2 .pc .img-area .img1 {right: 0px; top:-360px; }
.event2 .pc .img-area .img1::after{
  content: "";
  width: 100px; height: 100px;
  border: 3px dotted #fff;
  border-radius: 100%;
  position: absolute;
  top: -50px; right: -50px;
}
.event2 .pc .img-area .img2 {left: -35px; bottom: -80px;}
.event2 .pc .img-area .img2::after{
  content: "";
  width: 70px; height: 70px;
  border: 3px dotted #f6dec4;
  border-radius: 100%;
  position: absolute;
  bottom:-40px; left: -40px;
}


/* instagram */
.instagram .insta-list .mob-item{display: none;}
.instagram .insta-list  {
  background-image: url(../img/instagram/insta_img.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 80px 0;
}
.instagram .insta-list .pc-item {
  display: flex; 
  justify-content: center; 
  width: 60%;
  color: #706c65; 
  text-align: center;
  padding-bottom: 70px;
  margin: 0 auto;
}

.instagram .insta-list .pc-item .step .pc-img {
  box-shadow: -2px 1px 8px 7px rgba(0,0,0,0.08);
  border-radius: 50px;
}
.instagram .insta-list .pc-item .step2 {padding: 0 30px;}
.instagram .insta-list .pc-item .txt-tit {font-weight: 700; }
.instagram .insta-list .pc-item .txt-desc {
  font-size: 18px;
  width: 310px;
  margin: 25px 0 70px 0;
}
.instagram .insta-list .pc-item .step img {width: 80%;}
.tmp-btn {
  width: 350px;
  height: 60px;
  border: 0;
  position: relative;
  min-width: 180px;
  min-height: 60px;
  border-radius: 50px;
  color: #666;
  font-weight: bold;
  background: #fdfaf9;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  transition: all 0.5s ease;
}
.tmp-btn:hover { box-shadow: 0px 80px 0px 0px #b69e9e inset;}

.tmp-btn:hover .text{color: #fff;}
.tmp-btn .text{font-size: 18px;}
.tmp-btn .text, .tmp-btn .icon-container {position: relative; z-index: 2;}

.recom{
  height: 1100px;
  background-image: url('../img/contents/cont-bn.png');
  background-repeat: no-repeat;
  background-size: cover;
} 
.recom .inner{text-align: center;}
.recom .recom-logo img{padding-top: 90px;}
.recom .tab-content {position: relative;}
.recom .tab-content > div {position: absolute; top: 0; left: 0; right: 0;}
.recom .tab-content .tmp-off {opacity: 0; visibility: hidden;}
.recom .recom-list {width: 880px; margin: 0 auto;}
.recom .recom-list .tmp-flex {display: flex; 
  justify-content: center;
}


.recom .trouble-btn, 
.recom .moisture-btn{ 
  font-size: 24px;
  font-family: 'Pretendard Variable Medium';
  border: none;
  margin: 50px 5px;
  background-color: #fafaf7; 
  color: #b8ae9d;  
  width: 7.5em; 
  position: relative;
}
.recom .trouble-btn {padding: 10px 5px 10px 30px; border-radius: 50px 0 0 50px;}
.recom .moisture-btn {padding: 10px 50px 10px 5px; border-radius: 0 50px 50px 0px;}

.recom .trouble-btn::after,
.recom .moisture-btn::after {
  content: "";
  position: absolute;
  width: 10px; height: 10px;
  border-top: 2px solid #b8ae9d;
  border-right: 2px solid #b8ae9d;
}

.recom .trouble-btn::after{top: 50%; left: 20px; transform: translateY(-50%) rotate(-130deg);}
.recom .moisture-btn::after{top: 50%; right: 20px; transform: translateY(-50%) rotate(45deg);} 

.recom .trouble-btn.active, 
.recom .moisture-btn.active {background-color: #b8ae9d; color: #fafaf7;}

.recom .trouble-btn.active::after, 
.recom .moisture-btn.active::after { border-top: 2px solid #fafaf7; border-right: 2px solid #fafaf7;}

.recom .trouble .main-txt {
  color: #fff; 
  font-size: 24px; 
  font-weight: 700; 
  line-height: 30px;
  margin-bottom: 60px;
  background-image: url('../img/contents/under1.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 13.3em 30px;
}

.recom .trouble .list-item .txt-area {position: relative;}
.recom .trouble .list-item .txt-area .txt-cont {
  margin-left: 20px;
  width: 370px; height: 490px;
  color: #fff; text-align: left;
  padding: 40px 10px 0 20px;
  background-size: 380px;
  background-repeat: no-repeat;
}
.recom .trouble .list-item .txt-side{
  position: absolute;
  height: 20px; 
  color: #fff; font-size: 12px; 
  transform: rotate(90deg);
  transform-origin: top left;
}
.recom .trouble .list-item.item1 .txt-area .txt-cont {background-image: url('../img/contents/cont1/1-1.png');}
.recom .trouble .list-item.item1 .txt-area .txt-side {left: 1.3em; top: 18%;}
.recom .trouble .list-item.item2 .txt-area .txt-cont {background-image: url('../img/contents/cont1/2-1.png');}
.recom .trouble .list-item.item2 .txt-area .txt-side {left: 1.3em; top: 28%;}
.recom .trouble .list-item.item3 .txt-area .txt-cont {background-image: url('../img/contents/cont1/3-1.png');}
.recom .trouble .list-item.item3 .txt-area .txt-side {left: 1.4em; top: 22%;}
.recom .trouble .list-item.item4 .txt-area .txt-cont {background-image: url('../img/contents/cont1/4-1.png');}
.recom .trouble .list-item.item4 .txt-area .txt-side {left: 1.3em; top: 28%;}


.recom .moisture .main-txt {
  color: #fff; 
  font-size: 24px; 
  font-weight: 700; 
  line-height: 30px;
  margin-bottom: 60px;
  background-image: url('../img/contents/under1.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 13.3em 30px;
}

.recom .moisture .list-item {display: flex; justify-content: center;}
.recom .moisture .list-item .txt-area {position: relative;}
.recom .moisture .list-item .txt-area .txt-cont {
  margin-left: 20px;
  width: 370px; height: 490px;
  color: #fff; text-align: left;
  padding: 40px 10px 0 20px;
  background-size: 380px;
  background-repeat: no-repeat;
}
.recom .moisture .list-item .txt-area  .txt-side{
  position: absolute;
  height: 20px; 
  color: #fff; font-size: 12px; 
  transform: rotate(90deg);
  transform-origin: top left;
}
.recom .moisture .list-item.item1 .txt-area .txt-cont {background-image: url('../img/contents/cont2/1-1.png');}
.recom .moisture .list-item.item1 .txt-area .txt-side {left: 1.3em; top: 25%;}
.recom .moisture .list-item.item2 .txt-area .txt-cont {background-image: url('../img/contents/cont2/2-1.png');}
.recom .moisture .list-item.item2 .txt-area .txt-side {left: 1.3em; top: 28%;}
.recom .moisture .list-item.item3 .txt-area .txt-cont {background-image: url('../img/contents/cont2/3-1.png');}
.recom .moisture .list-item.item3 .txt-area .txt-side {left: 1.3em; top: 28%;}
.recom .moisture .list-item.item4 .txt-area .txt-cont {background-image: url('../img/contents/cont2/6-1.png')}
.recom .moisture .list-item.item4 .txt-area .txt-side {left: 1.3em; top: 25%;}

.recom .list-item .txt-area .txt-tit {font-size: 30px; font-weight: 700; padding-bottom: 30px;}
.recom .list-item .txt-area .txt-tit span{font-size: 15px;}
.recom .list-item .txt-area .txt-subtit {font-size: 28px; font-weight: 700; padding-bottom: 30px;}
.recom .list-item .txt-area .txt-desc {font-size: 17px; font-family: 'Pretendard Variable Medium'; line-height: 22px; padding-bottom: 20px;}
.recom .list-item .txt-area .txt-box {
  position: absolute;
  left: 20px; bottom: 0;
  background-color: #dcdace;
  width: 370px;
  height: 60px;
  font-size: 21px;
  color: #6f6f6f;
  line-height: 60px;
  cursor: pointer;
  transition:all 0.8s ease;
}

.recom .list-item .txt-area .txt-box:hover{
	letter-spacing: 1.5px;
  color: #fff;
  background-color: transparent;
  border-top: 2px solid #fff;
}

.recom .slick-slider .slick-arrow{
  font: 0/0 a; 
  background-color: transparent;
  border: transparent;
  border-left: 4px solid #fafaf8;
  border-top: 4px solid #fafaf8;
  width: 25px;
  height: 25px;
  position: absolute;
  top: 45%;
  z-index: 1;
}
.recom .slick-slider .slick-prev {left: -35px; transform: translateX(0%) rotate(-45deg);}
.recom .slick-slider .slick-next{right: -35px; transform: translateX(-50%) rotate(135deg);}
.recom .slick-slider .slick-dots {display: flex; position: absolute; left: 0; right: 0; justify-content: center;}
.recom .slick-slider .slick-dots li {margin: 15px 5px;}
.recom .slick-slider .slick-dots button {
  width: 9px; height: 9px;
  font: 0/0 a;
  border-radius: 50px;
  border: none;
  background-color: #fff;
}
.recom .slick-slider .slick-dots .slick-active button{ background-color: #bbb09b;}


.faq { background-color: #fff; margin-top: -20px;}
.faq .inner {width: 80%; max-width: 700px; padding: 120px 0;}
.faq .txt-tit{text-align: center; padding-bottom: 70px; font-size: 35px; font-weight: 800; color: #9f9f9e;}
.faq .list-item{border-top: 1px solid #c8c8c8; }
.faq .list-item:nth-child(4){border-bottom: 1px solid #c8c8c8;}
.q-head{font-size: 18px; padding: 15px 40px 15px 15px; cursor: pointer;}
.q-body{
  display: none;
  font-size: 18px; 
  font-family: 'Pretendard Variable Light'; 
  line-height: 23px; 
  padding: 15px 15px 15px 15px;
  background-color: #fafafa;
}
.faq .q-head .icon-q{position: relative;}
.faq .q-head .icon-q::after{
  content: "";
  width: 20px; height: 20px;
  background-image: url(../img/icon/ico-arrow.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0; right: -25px;
}
.faq .faq-list .active .icon-q::after {transform: rotate(-180deg);}

.faq .faq-deco{position: relative;}
.faq .faq-deco span{
  position: absolute;
  bottom: 0;
  background-repeat: no-repeat;
  background-size:cover;
}
.faq .faq-deco span:nth-child(1){left: 0;}
.faq .faq-deco span:nth-child(2){right: 0;}

.ft{height: 100%; background-color: #888 ; position: relative;}
.ft .inner {width: 600px;}
.ft .txt-area {padding: 80px 0; color: #fff; /* color: #e8e7e7; */}
.ft .txt-area .txt-tit {font-size: 28px; font-weight: 600; padding-bottom: 20px;}
.ft .txt-area .txt-desc {font-size: 17px;  padding: 0 0 10px 10px; position: relative;}
.ft .txt-area .txt-desc::before{
  content: "·";
  display: block;
  position:absolute;
  left: 0;
}

#modal{
  position: fixed;
  left: 0; right: 0; top: 0; bottom: 0;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.2);
}
.modal{
  display: flex;
  justify-content: space-around;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s ease;
}
.modal.active{opacity: 1; visibility: visible;}
.modal-box{
  width: 530px; height: 780px;
  background-color: #fff;
  text-align: center;
  position: relative;
}
.modal .box-item{height: 350px;}
.modal .box-item .main-tit {line-height: 60px;}
.modal .box-item .sub-tit {line-height: 40px; font-size: 16px; font-family: 'Pretendard Variable Light';  color: #fff; background-color: #eed4ab;}
.modal .box-item .close-btn{
  position: absolute;
  top: 15px; right: 20px;
  background-color: transparent;
  border: none;
  color:  #333;
  font-size: 17px;
  cursor: pointer;
}
.modal .content {height: 430px; position: relative; background-color: #fff;}
.modal .content .txt-area{display: inline-block; text-align: left;}
.modal .content .info {margin-bottom: 20px;}
.modal .content .info .txt-tit {font-size: 20px; font-weight: 700; padding-bottom: 12px;}
.modal .content .info .item {font-size: 17px;}

.modal .content .info .item input{
  height: 35px;
  line-height: 35px; 
  border: 1px solid #ccc; 
  margin: 5px; 
  padding: 0 10px; 
  width: 230px; 
  box-shadow: 0.1em 0.1em 0.15em rgb(0 0 0 / 8%) inset;
}
.modal .content .info .zip-btn{
  line-height: 25px; 
  padding: 5px 10px; 
  border-radius: 2px; 
  color: #333; 
  cursor: pointer;
  border: 1px solid #eed4ab; 
  background-color: #eed4ab8a;
}
.modal .content .info .item [name=addr1],
.modal .content .info .item [name=addr2] {margin: 5px 0 10px 53px; display: block;}

.modal .content .consent .txt-tit {
  font-size: 20px; 
  font-weight: 700; 
  padding-bottom: 12px;
}
.modal .content .consent .item {font-size: 17px; font-family: 'Pretendard Variable Light';}
.modal .content .click-box{
  position: absolute; 
  bottom: 0; left: 0;
  width: 100%; 
  line-height: 60px;
  background-color: #eed4ab;
  border: transparent;
}
.modal .content .click-box p{color: #fff; font-size: 25px;}

.quick{display: none;}
.quick .inner{position: fixed; bottom: 50px; right: 50px;  color: #fff;}
.quick .top-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px; 
  height: 50px;
  bottom: 50px; right: 50px;
  font-size: 25px;
  border-radius: 50px;
  background-color: rgba(0, 0, 0, 0.2);
  background-image: url(../img/page-arrow2.png);
  background-repeat: no-repeat;
  background-size: 60%;
  background-position-x: 45%;
  background-position-y: 55%;
  transform: rotate(180deg);
}
.quick .q-menu i{
  text-align: center;
  font-size: 25px; 
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 50px;
}
.quick .fab, .quick .share {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px; 
  height: 50px;
  bottom: 50px; right: 50px;
  font-size: 25px;
  border-radius: 50px;
  margin: 5px 0;
}
.quick .fab{opacity: 0; visibility: hidden; transition: all 0.7s ease;}
.quick .fa-youtube{background-color: red;}
.quick .fa-facebook-f{background-color: #0054a6;}
.quick .fa-instagram{background-image: url(../img/icon/ico_instagram_back.png); background-repeat: no-repeat; background-size: cover;}
.quick .menu-btn{background-color: #e2ba7ae0; }
.quick .menu-btn img{padding-bottom: 1px; transition: all 0.7s; }
.quick.active .fab {opacity: 1; visibility: visible;}
.quick.active .menu-btn img {transform: rotate(225deg); margin-bottom: 2px; margin-left:2px;}



@media screen and (max-width:1100px){
  .hd .logo img {width: 100px; height: 100%;}
  .hd .pc-menu .gnb li > a {font-size: 17px;}
  .banner {background-size:cover; height: 600px;}
  .main .main-item .txt-area{margin:0;}
  .main .main-item {flex-wrap: wrap-reverse; justify-content:center}
  .event2 .pc .img-area .img2 {left: 0;}
  .event2 .pc .img-area .img1{right: 50px;}
}

@media screen and (max-width:980px){
  .inner { max-width: 600px;}
  .txt-tit {font-size: 30px;}

  .hd .pc-gnb {opacity: 0; visibility: hidden;}
  .hd .toggle-btn {opacity: 1; visibility: visible;}
  .hd .mob-gnb.active {opacity: 1; visibility: visible;}
  .hd .mob-gnb.active .gnb-box{transform: translateX(0%); opacity: 1; border-radius: 0% 0% 0% 0%;}
  .hd .mob-gnb.active::before {opacity: 1; visibility: visible;}
  .hd .toggle-btn.active .bar1{ width: 30px; transform: rotate(50deg) translateY(10px); background-color: rgba(0, 0, 0, 0.6);}
  .hd .toggle-btn.active .bar2{ opacity: 0; visibility: hidden;}
  .hd .toggle-btn.active .bar3{ width: 30px; transform: rotate(-50deg) translateY(-10px); background-color: rgba(0, 0, 0, 0.6);}

  .banner {
    background-image: url('../img/mobile/m-banner.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 980px;
  }
  .main .main-item .img-area .img1 > img{width: 600px; height: auto;}
  .main .main-item .img-area .img2 > img{width: 100%; height: auto;}
  .main .main-item .img-area .img2 {left: 8%; right: 8%;}
  .main .main-item .txt-area{margin: 120px 0 0 0px; width: 400px;}
  .main .main-item .txt-area .txt-tit{font-size: 28px;}

  .event1 .txt-item {height: 630px;}
  .event1 .evt-list{flex-wrap: wrap; justify-content: center;}
  .event1 .txt-item .txt-area {width: 400px; }
  .event1 .txt-item .txt-area .txt-tit{padding-top: 100px;}
  .event1 .img-item .img-area {padding-right:0px;}


  .event2 .evt-list{flex-wrap: wrap-reverse; justify-content: center;}
  .event2 .pc .img-area {display: none;}
  .event2 .mob .img-area {display: block; position: relative;}
  .event2 .img-item .slick-slider .slick-arrow{display: none; opacity: 0; visibility: hidden;}
  
  .event2 .img-item .slick-slider {position: relative;}
  .event2 .img-item .slick-slider .slick-dots{display: flex; }
  .event2 .img-item .slick-slider .slick-dots button{ position:absolute; right: 10px; bottom: 30px; opacity: 0; font-size: 15px;}
  .event2 .img-item .slick-slider .slick-dots button::after{content: "/ 3"; position: absolute;right: 0; font-size: 15px;}
  .event2 .img-item .slick-slider .slick-dots .slick-active button{ padding-right: 23px; opacity: 1; color:#666 }

  .event2 .txt-item {display: flex; justify-content: center;}
  .event2 .txt-item .txt-area {width: 400px; padding-top: 50px;}
  .event2 .txt-item .txt-area .txt-desc:nth-child(4) {margin: 10px 0 -130px 0;}


  .instagram .insta-list .pc-item{display: none;}
  .instagram .insta-list .mob-item{display: block;}
  .instagram .insta-list .mob-item {padding: 0; width: 50%;}
  .instagram .insta-list .mob-item .txt-desc {font-size: 18px; padding: 25px 0;}
  .instagram .insta-list .mob-item .txt-tit {font-weight: 700; }

  .instagram .insta-list .slick-slider{width: 600px; width: 360px; width: 380px; height: 910px; height: auto; text-align: center; margin: 0 auto 50px;}
  .instagram .tmp-wrap {border-radius: 55px; overflow: hidden;}
  .instagram .insta-list .step { margin: 0 10px; }

  .instagram .slick-slider .slick-arrow{opacity: 0; visibility: hidden; width: 0; height: 0;}
  .instagram .slick-slider .slick-dots {
  display: flex; position: absolute; left: 0; right: 0; bottom: 0; justify-content: center; transform: translateY(50%)}
  .instagram .slick-slider .slick-dots li {margin: 15px 5px;}
  .instagram .slick-slider .slick-dots button {
    width: 9px; height: 9px;
    font: 0/0 a;
    border-radius: 50px;
    border: none;
    background-color: #fff;
  }
  .instagram .slick-slider .slick-dots .slick-active button{ background-color: #a39692;}

  .recom{height: auto; background-size: cover;}
  .recom .tab-content {min-height: 1040px;}
  .recom .recom-list {width: 480px;}
  .recom .slick-slider .slick-arrow {display: none;}
  .recom .slick-slider .slick-prev {opacity: 0; visibility: hidden;}
  .recom .slick-slider .slick-next {opacity: 0; visibility: hidden;}

  .recom .list-item .txt-area .txt-tit{padding-bottom: 53px;}
  .recom .list-item .txt-area .txt-desc{font-size: 15px; padding-bottom: 6px;}
  .recom .list-item .txt-area .txt-subtit{font-size: 24px; font-weight: 600; padding: 0;}

  .recom .recom-list .tmp-flex {display: block; flex-wrap: wrap;}
  .recom .trouble .slick-slide{width: 400px;}
  .recom .trouble .list-item .txt-area .txt-cont{background-size: cover; width: 480px; height: 300px; margin: 0;}
  .recom .trouble .list-item .txt-area .txt-side{display: none;}
  .recom .trouble .list-item .txt-area .sub{display: none;}
  .recom .trouble .list-item .txt-area .txt-box{left: 0; width: 480px; background-position: 15em 50%;}

  .recom .moisture .slick-slide{width: 400px;}
  .recom .moisture .list-item .txt-area .txt-cont{background-size: cover; width: 480px; height: 300px; margin: 0;}
  .recom .moisture .list-item .txt-area .txt-side{display: none;}
  .recom .moisture .list-item .txt-area .sub{display: none;}
  .recom .moisture .list-item .txt-area .txt-box{left: 0; width: 480px; background-position: 15em 50%;}


  .faq .faq-deco span:nth-child(1){width: 300px;}
  .faq .faq-deco span:nth-child(2){width: 140px;}
  .faq .q-body {padding: 15px 70px 15px 15px; word-break: keep-all;}
}


@media screen and (max-width:768px){
  .inner { max-width: 660px;}
  .banner {background-size:cover; height: 768px;}
  .main .main-item .txt-area{margin-top: 100px;}
  .instagram .slick-slider .slick-arrow{opacity: 0; visibility: hidden;}
  .faq .faq-deco span:nth-child(1){width: 180px;}
  .faq .faq-deco span:nth-child(2){width: 90px;}
  .modal .content .click-box{bottom: -15px;}
}


@media screen and (max-width:480px){
  .inner { max-width: 370px;}
  .txt-tit {font-size: 23px;}
  .txt-desc {font-size: 17px;}
  .banner {background-size:cover; height: 480px;}
  .main {margin-top: 100px; padding: 0;}

  .main .main-item .txt-area{margin-top: 70px; width: 290px;}
  .main .main-item .txt-area .txt-desc { display: block;}
  .main .main-item .txt-area .txt-tit{font-size: 26px;}
  .main .main-item .txt-area .txt-desc{font-size: 19px;}
  

  .event1 {margin-top: -70px;}
  .event1 .txt-item {height: 505px;}
  .event1 .evt-list{flex-wrap: wrap; }
  .event1 .txt-item .txt-area {width: 290px;}
  .event1 .img-item .img-area > img {width: 350px; height: 100%;}
  .event1 .txt-item .txt-area .txt-tit {font-size: 22px; padding: 60px 0 40px 0; }
  .event1 .txt-item .txt-area .txt-desc {font-size: 19px; width: 280px;}
  .event1 .img-item .img-area p {font-size: 11px;}
  .event1 .img-item .img-area p > img {width: 20px; opacity: 0.8;}
  .event1 .txt-item .evt-btn{font-size: 20px;}
  .event1 .txt-item .evt-btn a::after{background-size: 90%;}


  .event2 {margin: -100px 0 -190px 0;}
  .event2 .evt-header{margin-bottom: 5px;}
  .event2 .txt-item .txt-area {width: 290px;}
  .event2 .txt-item .txt-area .txt-tit {font-size: 22px; padding-bottom: 40px;}
  .event2 .txt-item .txt-area .txt-desc {font-size: 18px;}
  .event2 .txt-item .txt-area .txt-desc:nth-child(4){margin: 10px 0 0 0;}


  .instagram .tmp-wrap {border-radius: 55px; overflow: hidden;}
  .instagram .insta-list { padding: 40px 0;}
  .instagram .insta-list .step { margin: 0; }  
  .instagram .insta-list .slick-slider{width: 300px;}
  .instagram .slick-slider .slick-arrow{opacity: 0; visibility: hidden; width: 0; height: 0;}
  .instagram .slick-slider .slick-dots {
  display: flex; position: absolute; 
  left: 0; right: 0; bottom: 0; 
  justify-content: center; transform: translateY(50%)
}
  .instagram .slick-slider .slick-dots li {margin: 15px 5px;}
  .instagram .insta-list .mob-item .txt-desc{padding: 25px 0 35px 0; word-break: keep-all;}
  .instagram .insta-list .tmp-btn{width: 295px;}
  .instagram .insta-list .tmp-btn .text{font-size: 15px;}
  .instagram .insta-list .tmp-btn:hover::after{transform: translateX(80%);}
  .instagram .insta-list .tmp-btn:hover .icon-container{transform: translateX(60%); }
  .tmp-btn .icon-container .icon-left{transform: translateX(-33%);}
  .tmp-btn .icon-container {width: 38px;}

  .recom .recom-logo img {width: 90%; padding-top: 70px;}
  .recom .trouble-btn, .recom .moisture-btn {font-size: 18px; margin: 40px 5px; }
  .recom .trouble-btn {padding: 10px 0px 10px 30px;}
  .recom .moisture-btn {padding: 10px 35px 10px 0;}
  .recom .trouble-btn::after,
  .recom .moisture-btn::after {
    content: "";
    position: absolute;
    width: 7px; height: 7px;
    border-top: 2px solid #b8ae9d;
    border-right: 2px solid #b8ae9d;
  }
  .recom .trouble .main-txt, .recom .moisture .main-txt {font-size: 23px; background-size: 12.5em 30px;}
  .recom .tab-content {min-height: 840px;}
  .recom .recom-list {width: 300px;}
  .recom .slick-slider .slick-arrow{opacity: 0; visibility:hidden; display: none;}
  .recom .recom-list .tmp-flex {display: block; flex-wrap: wrap;}
  .recom .list-item .txt-area .txt-desc {font-size: 17px; padding-bottom: 10px;}

  .recom .trouble .slick-slide{width: 300px;}
  .recom .trouble .list-item .txt-area .txt-cont{background-size: cover; width: 300px; height: 300px; margin: 0; padding: 40px 10px 0 15px;}
  .recom .trouble .list-item .txt-area .txt-tit{font-size: 25px;}
  .recom .trouble .list-item .txt-area .txt-tit span {font-size: 11px;}
  .recom .trouble .list-item .txt-area .txt-subtit{font-size: 24px;}
  .recom .trouble .list-item .txt-area .sub{display: none;}
  .recom .trouble .list-item .txt-area .txt-box{left: 0; width: 300px; background-position: 15em 50%;}
  .recom .trouble .list-item .txt-area .txt-box{font-size: 18px; background-position: 12em;}

  .recom .moisture .slick-slide{width: 300px;}
  .recom .moisture .list-item .txt-area .txt-cont{background-size: cover; width: 300px; height: 300px;  margin: 0;}
  .recom .moisture .list-item .txt-area .txt-tit{font-size: 24px;}
  .recom .moisture .list-item .txt-area .txt-tit span {font-size: 11px;}
  .recom .moisture .list-item .txt-area .txt-desc{font-size: 15px;}
  .recom .moisture .list-item .txt-area .txt-subtit{font-size: 24px;}
  .recom .moisture .list-item .txt-area .sub{display: none;}
  .recom .moisture .list-item .txt-area .txt-box{left: 0; width: 300px; background-position: 15em 50%;}
  .recom .moisture .list-item .txt-area .txt-box{font-size: 18px; background-position: 12em;}



  .faq .list-item .q-head {font-size: 15px; padding: 15px 6px;}
  .faq .list-item .q-body {font-size: 15px;  padding: 15px 30px 15px 15px;; line-height: 18px;}
  .faq .faq-deco span:nth-child(1){width: 180px;}
  .faq .faq-deco span:nth-child(2){width: 80px;}

  .ft{height: auto; padding: 30px 0;}
  .ft .inner {max-width: 330px;}
  .ft .txt-area {padding: 50px 0;}
  .ft .txt-area .txt-tit{font-size: 25px;}
  .ft .txt-area .txt-desc{font-size: 15px;}

  .quick .inner {right: 0;}

  .modal .modal-box {width: 90%; height: auto;}
  .modal .box-item{height: auto;}
  
  .modal .modal-box .main-tit{line-height: 40px; font-size: 20px;}
  .modal .modal-box .sub-tit{font-size: 13px; line-height: 30px;}
  .modal .modal-box .close-btn {top: 9px; font-size: 15px;}
  .modal .modal-box .click-box p{font-size: 20px;}
  
  .modal .content {height: 400px;}
  .modal .consent .item{font-size: 15px;}
  .modal .content .txt-area{padding: 20px 0;}
  .modal .consent .txt-tit{font-size: 18px;}
  .modal .content .info{margin-bottom: 20px;}
  .modal .content .info .item input{line-height: 30px;}
  .modal .content .info .item [name=zip] {width: 145px;}
  .modal .content .info .zip-btn {line-height: 18px;}
  .modal .click-box{list-style: 45px; bottom: 0;}
  .modal .content .click-box {line-height: 50px;}
  .modal .content .click-box p{font-size: 22px;}
  .not_scroll{
    position: fixed;
    overflow: hidden;
    width: 100%;
    height: 100%
  }
  .not_scroll .cont {
    position: relative;
    top: 0;
  }

}